.myProjects-container {
  .wrap {
    padding-right: 320px;
    height: 100vh;
    aspect-ratio: 1;
    position: sticky;
  }
}
.lineOfProjects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.rotate {
  transition: transform 1s linear;
  display: inline-block;
}
