@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@700&family=Great+Vibes&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: 900 1.2rem sans-serif;
}

body {
  background-color: #0f1a22;
  color: white;
}

#root {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}
