@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: 900 1.2rem sans-serif;

  font: 'inter', 'inter Fallback';
}

html {
  scrollbar-color: #ff9f3a #121212;
}

body {
  color: #c5d0dc;
  background: linear-gradient(to right bottom, #030712, #071f05)
}
